@model Cart
@{
    ViewData["Title"] = "Shopping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <h3 class="text-center">Shopping Cart</h3>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>

        @if (Model.CartProduct.Count > 0)
        {


            @foreach (KeyValuePair<string, OrderDetail> item in Model.CartProduct)
            {
                <tr>
                    <form asp-controller="Home" asp-action="ShoppingUpdate">

                        <input type="hidden" name="txtProductID" value="@item.Value.Product.ProductID" />
                        <td>@item.Value.Product.ProductName</td>
                        <td>@item.Value.Product.Price</td>
                        <td>
                            <input name="txtQuantity" type="number" value="@item.Value.Quantity" min="1" />
                        </td>
                        <td>
                            <input type="submit" />
                        </td>

                        <td>
                            <a class="nav-link text-dark"
                               asp-controller="Home" asp-action="ShoppingDelete" asp-route-id="@item.Value.Product.ProductID">
                                <span class="material-icons">
                                    delete
                                </span>
                            </a>
                        </td>
                    </form>
                </tr>
            }
        }

    </tbody>
</table>
